html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type="button"] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

:root {
  --main-color: rgb(202, 163, 115);
  --main-color1: rgb(66, 52, 34);
}
html {
  overflow-x: hidden;
}
body {
  background-color: var(--main-color);
  min-width: 320px;
}
main {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.5);
  font-family: Verdana, Tahoma, sans-serif;
  color: var(--main-color1);
  background-color: white;
}
.topnav {
  background-color: var(--main-color1);
  width: 100%;
  overflow: hidden;
}
.topnav a:not(:first-child) {
  display: none;
}
.topnav a.icon {
  float: right;
  display: block;
}
.topnav.responsive {
  position: relative;
}
.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.topnav a {
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: var(--main-color);
  color: var(--main-color1);
}
.block {
  display: inline-block;
  vertical-align: top;
}
figure {
  width: 35%;
  margin: 2%;
  text-align: center;
}
img[src$="jpg"] {
  width: 85%;
  border: 5px solid var(--main-color);
  padding: 5%;
  border-radius: 100%;
}
div.block {
  width: 55%;
}
.title {
  width: 100%;
  text-transform: uppercase;
  text-align: left;
}
h1 {
  margin-top: 25%;
  font-size: calc(24px + 2vw);
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
aside {
  background-color: var(--main-color);
  width: 30%;
  padding-bottom: 140px;
}
.block1 {
  padding-bottom: 20%;
}
.title1 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: var(--main-color1);
  padding: 5px;
  width: 70%;
  margin-top: -10px;
}
ul {
  list-style-type: none;
  padding: 2%;
}
li {
  font-size: 16px;
  padding: 5px 0 10px 10%;
}
.class1 {
  background: url("calling.svg") 0px 3px no-repeat;
}
.class2 {
  background: url("message.svg") 0px 3px no-repeat;
}
.class3 {
  background: url("telegram.svg") 0px 3px no-repeat;
}
div.block2 {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  padding-left: 2%;
}
.block3 {
  padding-bottom: 15px;
}
.title2 {
  border-bottom: 5px solid var(--main-color);
  margin-bottom: 10px;
}
p {
  margin-left: 20px;
}
h3 {
  display: inline;
  font-weight: 700;
  margin-left: 10px;
}
.block3 img {
  border-radius: 5px;
  width: 40%;
  margin: 10px;
  padding: 2px;
  opacity: 0.5;
}
.block3 img:hover {
  opacity: 1;
}
code {
  display: block;
  width: 500px;
  background: var(--main-color);
  border: 1px dotted var(--main-color1);
  padding: 10px;
  margin-top: 10px;
}
footer {
  padding: 2%;
  height: 120px;
  background-color: var(--main-color1);
  color: white;
}
nav {
  padding-left: 30px;
  padding-top: 5px;
  display: inline;
}
.class4 {
  background: url("github.svg") 0px 3px no-repeat;
}
a {
  text-decoration: none;
  color: white;
}
span {
  margin: auto;
  position: absolute;
  margin-left: 25%;
}
.class5 {
  float: right;
  padding-top: 0;
}
@media (max-width: 1050px) {
  aside {
    width: 35%;
    padding-bottom: 190px;
  }
  div.block2 {
    width: 60%;
  }
}
@media (max-width: 900px) {
  aside {
    width: 40%;
    padding-bottom: 250px;
  }
  div.block2 {
    width: 55%;
  }

  li {
    font-size: 15px;
  }
  footer {
    height: 100px;
  }
  span {
    display: block;
    margin: 10px;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  main {
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .block {
    display: block;
    margin: auto;
  }
  figure {
    width: 70%;
    padding: 10%;
  }
  .block div {
    width: 100%;
    padding-bottom: 10%;
    display: inline-block;
  }
  .title {
    text-align: center;
  }
  h1 {
    margin-top: 0%;
  }
  aside {
    width: 100%;
    padding-bottom: 0px;
  }
  .block1 {
    padding-bottom: 5%;
  }
  .title1 {
    margin: auto;
    width: 90%;
  }
  ul {
    margin-left: 20%;
  }
  div.block2 {
    width: 90%;
    margin-top: 0;
  }
}
